URLCHECKERTOOLS_MISP_URL=test

URLCHECKERTOOLS_VIRUSTOTAL_APIKEY=test
URLCHECKERTOOLS_URLSCAN_APIKEY=test
URLCHECKERTOOLS_GOOGLESAFEBROWSING_APIKEY=test
URLCHECKERTOOLS_ABUSEIPDB_APIKEY=test
URLCHECKERTOOLS_MISP_APIKEY=test
URLCHECKERTOOLS_WHALEBONE_APISECRETKEY=test
URLCHECKERTOOLS_WHALEBONE_APIACCESSKEY=test
