URLCHECKERTOOLS_VIRUSTOTAL=test
URLCHECKERTOOLS_URLSCAN=test
URLCHECKERTOOLS_GOOGLESAFEBROWSING=test
URLCHECKERTOOLS_ABUSEIPDB=test
URLCHECKERTOOLS_WHALEBONE_APISECRETKEY=test
URLCHECKERTOOLS_WHALEBONE_APIACCESSKEY=test
